body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0a0a23 60%, #13191f 100%);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

.App {
  max-width: none;
  margin-top: 0;
  margin-left: 30px;
  padding: 40px 20px 20px 20px;
  background: none;
  border-radius: 0;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4), 0 1.5px 6px rgba(0, 51, 102, 0.2);
   position: relative;
}



/* Section Headings */
section {
  margin-top: 30px;
}

section h1 {
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #f4dddd;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #aadfff;
}


